<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title>Details | Message Board</title>
  </head>
  <body>
    <h1>Message Details</h1>
    <section class="details">
      <span>Username: <%= userName %></span>
      <span>Message: <%= userMessage %></span>
      <span>Date: <%= date.toDateString() %></span>
      <button><a href="/">Back</a></button>
    </section>
  </body>
</html>
