<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>Message Board</h1>
    <button class="add"><a href="/new">Add Message</a></button>
    <section class="box">
      <% messages.forEach((message) => { %>
      <section>
        <span><%= message.username %></span>
        <span><%= message.message %></span>
        <span
          ><%= message.date? message.date.toDateString(): 'No date available'
          %></span
        >
        <button><a href="/<%= message.username %>">Open</a></button>
      </section>
      <% }); %>
    </section>
  </body>
</html>
